@font-face {
    font-family: Cairo;
    src: url('../fonts/Cairo/Cairo-Regular.ttf');
}
@font-face {
    font-family: Cairo-Black;
    src: url('../fonts/Cairo/Cairo-Black.ttf');
}
@font-face {
    font-family: Cairo-SemiBold;
    src: url("../fonts/Cairo/Cairo-SemiBold.ttf");
}
html, body{
    direction: rtl !important;
    font-family: Cairo!important;
    text-align: right !important;
    background: #FFF7FA !important;
}
h1,h2,h3,h4,h5,h6{
    direction: rtl !important;
    text-align: right !important;
}
h1,h2,h3{
    font-family: Cairo-Black !important;
}
h4,h5,h6{
    font-family: Cairo-SemiBold !important;
}
.img-thumb{
    width: 64px;
    height: 64px;
}
